/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  /* background-color: rgb (163, 160, 162); */
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
    align-items: center;
}

.words {
    padding-left: 50px;
    position: absolute;
    padding-top: 150px;
    padding-left: 50px;
}
/* .words1 {
    padding-left: 50px;
    position: absolute;
    padding-top: 150px;
    padding-left: 50px;
}
.words2 {
    padding-left: 50px;
    position: absolute;
    padding-top: 150px;
    padding-left: 50px;
} */

/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;

}

a:hover {
    color: grey;
    text-decoration: solid;
    text-decoration-color: rgb (181,181,181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}
footer nav {
    display: flex;
    justify-content: center;
}

/* HAMBURGER MENU */


/* #hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
} */


/* SECTION */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
html {
    scroll-behavior: smooth;
}

.section-container {
    display: flex;
}

/* PROFILE */

/* .subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
} */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height, equal to the width */
    overflow: hidden; /* Ensures any overflow is hidden */
}
.section__pic-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; 
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.btn {
    display: inline-block;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem; /* Adjust the width as needed */
    border-radius: 2rem;
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
}

.btn-color-1, .btn-color-2 {
    border: rgb(53,53,53) 0.1rem solid;
    background: rgb(0,0,0);
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}
.btn-color-1, .btn-color-2:hover{
    cursor: pointer;
    background: rgb(53,53,53);
    color: white;
    border-color: rgb(255,255,255);
}

.btn-color-1 {
    background:rgb(0,0,0)
}

.btn-color-2 {
    background: none;
    background:rgb(0,0,0);
    color: white;
}

.btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid;
    color: white;
}

.btn_container {
    gap: 1rem;
}


/* ABOUT SECTION */

#about {
    padding: 2rem 0;
}

.about_containers {
    /* gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* added stuff */
.about-me {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.about-me-img {
    flex: 1;
}

.about-me-img img {
        width: 100%;
        border-radius: 50%;  /* Make the image circular */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.about-me-details {
    flex: 2;
}

.about-me-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(53, 53, 53);
}

.about-me-text {
    margin-bottom: 1.5rem;
}

/* added stuff */
.about-details-containers {
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

#about .details-container {
    border: none;
}


.about_containers, .about-details-containers {
    display: flex;

}

.about-pic {
    display: flex;
    /* justify-content: center;
    align-items: center;
    width: 200px; 
    height: 200px; 
    overflow: hidden;  */
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    display: block;
}
.certificates-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem; /* Adjust this value to control the space between title and certificates */
}

  .details-container {
    padding: 1.5rem;
    flex-wrap: wrap;
    background: white;
    border-radius: 5rem;
    border: rgb(53,53,53) 0.3rem solid;
    border-color: black;
    text-align: center; 
    box-sizing: border-box;
}  
  /* .details-container {
    padding: 1.5rem;
    flex: 1 1 calc(50% - 4rem); /* Adjust the width of each certificate to 50% of the container minus gap */
    /* background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.3rem solid;
    border-color: black;
    text-align: center;
    box-sizing: border-box;
}   */ */

.details-container h2, .details-container .btn-container {
    margin: auto;
}

.details-containers-1 {
    padding: 1.5rem;
    padding-left: 50px;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.3rem solid;
    border-color: black;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 2rem;
}

.details-containers-2 {
    padding: 1.5rem;
    padding-left: 50px;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.3rem solid;
    border-color: black;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.details-containers-3 {
    padding: 1.5rem;
    padding-left: 50px;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.3rem solid;
    border-color: black;
    text-align: center;
    margin-bottom: 2rem;
}
.details-containers-4 {
    padding: 1.5rem;
    padding-left: 50px;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.3rem solid;
    border-color: black;
    text-align: center;
    margin-bottom: 2rem;
}

 .section-container {
    /* gap: 4rem;  */
    height: 50%;
} 


.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
    
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
    padding: 2rem;
}

.experience-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
}
.experience-details-container {
    padding: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}
.about-containers {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure the containers take full width */
    
}

article.icon {
    cursor: default;
}
/* PROJECTS SECTION */

#projects {
    position: relative;
    padding: 2rem; /* Add some padding */
    max-width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center the section */
}

.color-container {
    border-color: rgb(163,163,163);
    background: rgb(250,250,250);
}

.project-img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    max-width: 300px;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: white;
    border-color: rgb(162,162,162);
}
.projects-details-container {
    display: flex;
    flex-direction: column; /* Arrange projects vertically */
    align-items: center; /* Center content horizontally */
    gap: 2rem; /* Add gap between projects */
    margin-top: 1rem; /* Adjust top margin to control space between title and projects */
}

/* CONTACT PAGE */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.3rem solid;
    border-color: black;
    background: (250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin:1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

footer p {
    text-align: center;
}







